@tailwind base;
@tailwind components;
@tailwind utilities;

.sd-boolean--checked.sd-boolean--exchanged .sd-boolean__thumb {
  margin-left: unset !important;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
    
    --sjs-general-backcolor: rgba(246, 246, 246, 1);
    --sjs-general-backcolor-dark: rgba(235, 235, 235, 1);
    --sjs-general-backcolor-dim: rgba(255, 255, 255, 1);
    --sjs-general-backcolor-dim-light: rgba(255, 255, 255, 1);
    --sjs-general-backcolor-dim-dark: rgba(235, 235, 235, 1);
    --sjs-general-forecolor: rgba(0, 0, 0, 0.973);
    --sjs-general-forecolor-light: rgba(0, 0, 0, 0.877);
    --sjs-general-dim-forecolor: rgba(0, 0, 0, 0.91);
    --sjs-general-dim-forecolor-light: rgba(0, 0, 0, 0.45);
    --sjs-primary-backcolor: #111111;
    --sjs-primary-backcolor-light: rgba(17, 17, 17, 0.1);
    --sjs-primary-backcolor-dark: rgba(-5, -5, -5, 1);
    --sjs-primary-forecolor: rgba(255, 255, 255, 1);
    --sjs-primary-forecolor-light: rgba(255, 255, 255, 0.25);
    --sjs-base-unit: 8px;
    --sjs-corner-radius: 4px;
    --sjs-secondary-backcolor: rgba(255, 152, 20, 1);
    --sjs-secondary-backcolor-light: rgba(255, 152, 20, 0.1);
    --sjs-secondary-backcolor-semi-light: rgba(255, 152, 20, 0.25);
    --sjs-secondary-forecolor: rgba(255, 255, 255, 1);
    --sjs-secondary-forecolor-light: rgba(255, 255, 255, 0.25);
    --sjs-shadow-small: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    --sjs-shadow-small-reset: 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
    --sjs-shadow-medium: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    --sjs-shadow-large: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    --sjs-shadow-inner: 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
    --sjs-shadow-inner-reset: 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    --sjs-border-light: rgba(0, 0, 0, 0.12);
    --sjs-border-default: rgba(0, 0, 0, 0.12);
    --sjs-border-inside: rgba(0, 0, 0, 0.16);
    --sjs-special-red: rgba(229, 10, 62, 1);
    --sjs-special-red-light: rgba(229, 10, 62, 0.1);
    --sjs-special-red-forecolor: rgba(255, 255, 255, 1);
    --sjs-special-green: rgba(25, 179, 148, 1);
    --sjs-special-green-light: rgba(25, 179, 148, 0.1);
    --sjs-special-green-forecolor: rgba(255, 255, 255, 1);
    --sjs-special-blue: rgba(67, 127, 217, 1);
    --sjs-special-blue-light: rgba(67, 127, 217, 0.1);
    --sjs-special-blue-forecolor: rgba(255, 255, 255, 1);
    --sjs-special-yellow: rgba(255, 152, 20, 1);
    --sjs-special-yellow-light: rgba(255, 152, 20, 0.1);
    --sjs-special-yellow-forecolor: rgba(255, 255, 255, 1);
    --sjs-article-font-xx-large-textDecoration: none;
    --sjs-article-font-xx-large-fontWeight: 700;
    --sjs-article-font-xx-large-fontStyle: normal;
    --sjs-article-font-xx-large-fontStretch: normal;
    --sjs-article-font-xx-large-letterSpacing: 0;
    --sjs-article-font-xx-large-lineHeight: 64px;
    --sjs-article-font-xx-large-paragraphIndent: 0px;
    --sjs-article-font-xx-large-textCase: none;
    --sjs-article-font-x-large-textDecoration: none;
    --sjs-article-font-x-large-fontWeight: 700;
    --sjs-article-font-x-large-fontStyle: normal;
    --sjs-article-font-x-large-fontStretch: normal;
    --sjs-article-font-x-large-letterSpacing: 0;
    --sjs-article-font-x-large-lineHeight: 56px;
    --sjs-article-font-x-large-paragraphIndent: 0px;
    --sjs-article-font-x-large-textCase: none;
    --sjs-article-font-large-textDecoration: none;
    --sjs-article-font-large-fontWeight: 700;
    --sjs-article-font-large-fontStyle: normal;
    --sjs-article-font-large-fontStretch: normal;
    --sjs-article-font-large-letterSpacing: 0;
    --sjs-article-font-large-lineHeight: 40px;
    --sjs-article-font-large-paragraphIndent: 0px;
    --sjs-article-font-large-textCase: none;
    --sjs-article-font-medium-textDecoration: none;
    --sjs-article-font-medium-fontWeight: 700;
    --sjs-article-font-medium-fontStyle: normal;
    --sjs-article-font-medium-fontStretch: normal;
    --sjs-article-font-medium-letterSpacing: 0;
    --sjs-article-font-medium-lineHeight: 32px;
    --sjs-article-font-medium-paragraphIndent: 0px;
    --sjs-article-font-medium-textCase: none;
    --sjs-article-font-default-textDecoration: none;
    --sjs-article-font-default-fontWeight: 400;
    --sjs-article-font-default-fontStyle: normal;
    --sjs-article-font-default-fontStretch: normal;
    --sjs-article-font-default-letterSpacing: 0;
    --sjs-article-font-default-lineHeight: 28px;
    --sjs-article-font-default-paragraphIndent: 0px;
    --sjs-article-font-default-textCase: none;

  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}